:root {
  --w: #dfdfdf;
  --g: #6f6f6f;
  --b: #0f0f0f;
  --f: 'Comic Sans MS', sans-serif;
  --hi: #00b9d5;
  --mi: #f6d91c;
  --lo: #fa078d;
}

main {
  display: flex;
  padding: 25px 0;
  font-family: var(--f);
  justify-content: space-around;
}

section {
  /* This is just to use flex-grow: 1 on #t (textbox) */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#out {
  height: 250px;
  width: 200px;
  background: skyblue;
  border-radius: 48%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  /* filter: drop-shadow(-5px 0px var(--g)); */
}

#out::before {
  content: '';
  position: absolute;
  height: 250px;
  width: 200px;
  background: var(--g);
  border-radius: 48%;
  left: -10px;
  z-index: -1;
}

#in {
  width: 120px;
  height: 120px;
  background: var(--w);
  margin-bottom: 20px;
}

#pb {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  animation: bounce 1.25s steps(2) infinite;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  100% {
    top: -3px;
  }
}

#pb .p.fill {
  background: var(--b);
}

#bh {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.b {
  width: 15px;
  height: 15px;
  background: magenta;
  border-radius: 100%;
  filter: drop-shadow(-1px 0px var(--g));
  border: 0;
  cursor: pointer;
}

.b:active {
  background: purple;
}

.b p {
  background: pink;
  padding: 5px 10px 10px;
  font-size: 24px;
  transform: translate(-40%, -5px);
  display: none;
  width: fit-content;
  font-family: var(--f);
}

.b:hover p {
  display: block;
}

#cd,
#t {
  overflow-y: auto;
  background: var(--w);
  border: 1px solid var(--b);
}

#cd {
  max-height: 150px;
  padding: 20px 30px 10px 20px;
}

#cd h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

.e {
  color: darkgrey;
}

#t {
  width: 300px;
  height: 200px;
  line-height: 2;
  font-size: 18px;
  flex-grow: 1;
}

#t div {
  padding: 25px 20px;
  border-bottom: 1px solid grey;
}

#hm {
  width: 30px;
  flex-grow: 1;
  background: linear-gradient(var(--lo), var(--mi), var(--hi));
  display: flex;
  align-items: center;
  justify-content: center;
}

#hmm {
  position: relative;
  bottom: 0;
  display: inline;
}
