:root {
  --w: #dfdfdf;
  --g: #6f6f6f;
  --b: #0f0f0f;
  --f: 'Comic Sans MS', sans-serif;
  --hi: #00b9d5;
  --mi: #f6d91c;
  --lo: #fa078d;
}

main {
  display: flex;
  padding: 25px 0;
  font-family: var(--f);
  justify-content: space-around;
}

#out {
  height: 250px;
  width: 200px;
  background: skyblue;
  border-radius: 48%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* filter: drop-shadow(-5px 0px var(--g)); */
}

#out::before {
  content: '';
  position: absolute;
  height: 250px;
  width: 200px;
  background: var(--g);
  border-radius: 48%;
  left: -10px;
  z-index: -1;
}

#in {
  width: 120px;
  height: 120px;
  background: var(--w);
  margin-bottom: 25px;
}

#pb {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
  width: 100%;
  height: 100%;
}

#pb .p.fill {
  background: var(--b);
}

#bh {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.b {
  width: 15px;
  height: 15px;
  background: magenta;
  border-radius: 100%;
  filter: drop-shadow(-1px 0px var(--g));
  border: 0;
  cursor: pointer;
}

.b:active {
  background: purple;
}

/* .b:active {
  filter: brightness(0.75) drop-shadow(none);
} */

.b p {
  background: pink;
  padding: 5px 10px 10px;
  font-size: 24px;
  transform: translate(-40%, -5px);
  display: none;
  width: fit-content;
  font-family: var(--f);
}

.b:hover p {
  display: block;
}

#t {
  background: var(--w);
  width: 300px;
  height: 200px;
  border: 1px solid var(--b);
  overflow-y: auto;
  padding: 10px;
  line-height: 2;
  font-size: 18px;
}

#hm {
  width: 100%;
  height: 30px;
  background: linear-gradient(to left, var(--lo), var(--mi), var(--hi));
  text-align: center;
  padding-top: 5px;
}

#hmm {
  position: relative;
  left: 0;
  display: inline;
}

/* animation: bounce 1s steps(2) infinite; 
  position: relative;
  */
